<!DOCTYPE html>
<html>
<!--
  Spatial by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
  <head>
    <title>STEM Projects</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="main.css"/>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  </head>
  <body id="bodyC">
    <header id="header" class="alt">
      <h1  class="logoNav"><strong><a href="/" action="/"> <img src="bite.png" alt="Go to Home Page"> </a></strong></h1>
      <nav id="nav">
        <ul>
          <li><a href="/" action="/"> <img src="home.png"> </a></li>
          <li><a href="/sci"action="/sci"><img src="sci.png"></a></li>
          <li><a href="/tech"action="/tech"><img src="tech.png"></a></li>
          <li><a href="/engineering"action="/engineering"><img src="engi.png"></a></li>
          <li> <a href="/login"action="/login"><img src="login.png"></a> </li>
        </ul>
      </nav>
    </header>
    <script src="https://kit.fontawesome.com/0ea786f096.js" crossorigin="anonymous"></script>
  <body>
