<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    
    <link rel="stylesheet" href="log.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <section class="logo">
          <a href="/"><img src="images/topL.png" alt="Go to Home Page"></a>
        </section>
        <section class="loginSignupLinks">
          <a href="/login">login</a>
          <a href="/signup">signup</a>
        </section>
      </nav>
    </header>

    <section class="homePageGreeting">
      <h1>Learning Plans designed for you.</h1>
    </section>
    <section class="homePageSignUpToday">
      <h2>Work to turn your interest in a career.</h2>
      <h3>To learn more about FLO, sign up today!</h3>
    </section>

		<%- include('footer'); -%>
