<%- include('header'); -%>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"> <img src="bite.png" alt="Menu"> </span></a>

		<!-- Banner -->
			<section id="banner">
				<!-- <ul class="actions">
					<li><a href="#" class="button special big">Get Started</a></li>
				</ul> -->
			</section>

			<!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>Learning Plans desigend for you</h2>
									<p>Work to turn your intrest into a career</p>
								</header>
							</div>
							<div class="6u$ 12u$(medium)" id="mstate">
								<p>HI, maybe you already have an interest in something STEM-related but you're not quite ready for some of the great classes out there that are just too dense or complex. It's also hard when the area you live in doesn't have wany resources to get hands-on learning. That's where FLO comes in, we help guide all you self-staters teach yourself the necessary/valuable skills you'll need to build a solid foundation and move on to bigger and better things. Whether that is a career, a hobby, or just something cool to learn.</p>
							</div>
						</div>
					</div>
				</section>

			<!-- Two -->
				<section id="two" class="wrapper style2 special">
					<div class="container">
						<header class="major">
							<h2>Fusce ultrices fringilla</h2>
							<p>Maecenas vitae tellus feugiat eleifend</p>
						</header>
						<div class="row 150%">
							<div class="6u 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="images/logo.png" alt="FLO logo" />
									<h3>Lorem ipsum dolor sit amet.</h3>
								</div>
							</div>
							<div class="6u$ 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="images/pic03.jpg" alt="" />
									<h3>Illum, maiores tempora cupid?</h3>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><a href="/login" class="button special big">Login</a></li>
							<li><a href="/signup" class="button big">Signup</a></li>
						</ul>
					</div>
				</section>


			<!-- Four -->
				<section id="four" class="wrapper style3 special">
					<div class="container">

					</div>
				</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

			<script src="main.js"></script>

	</body>
</html>
