<%- include('header'); -%>
<section class="formP">
  <form action="/up" enctype="multipart/form-data" method="POST" class="updateProPic">
    <p>Upload an Article</p>

    <input class="titleP" type="text" name="title" value="" placeholder="Title">
    <textarea name="hero" rows="8" cols="80" class="heroP" placeholder="Write your article here"></textarea>
    <input type="file" name="file-to-upload" class="filePic" value="">
    <input type="submit" class="upPo" value=" Upload">
  </form>

</section>


<%- include('footer'); -%>
