<%- include('header'); -%>

<div class="container">

    <div class="page-header text-center">
        <h1><span ></span>Your Profile</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
          <h3><span class="fa fa-user"></span> Your Info</h3>

          <% if (users.local.email) { %>
                <p>
                    <strong>email</strong>: <%= users.local.email %>
                    <strong>Username</strong>: <%= users.local.username %>
                </p>

                <a href="/unlink/local" class="btn btn-default">Remove account</a>
            <% } else { %>
                <a href="/connect/local" class="btn btn-default">Connect Local</a>
            <% } %>

        </div>

          <a href="/post" action="/post"><h3>Add an Article or show your work.</h3></a>

</div>


  <script src="main.js"></script>
</body>
</html>
