<%- include('header'); -%>

    <section class="profile">
      <h1>Your Profile</h1>
      <span><a href="/">Logout</a></span>
        <!-- LOCAL INFORMATION -->
        <section class="userI">
          <h3><i class="fas fa-user-ninja"></i> Your Info</h3>

          <% if (users.local.email) { %>
                <p>
                    <strong>email</strong>: <%= users.local.email %>
                    <strong>Username</strong>: <%= users.local.username %>
                </p>

                <a href="/unlink/local" class="btn btn-default">Remove account</a>
            <% } else { %>
                <a href="/connect/local" class="btn btn-default">Connect Local</a>
            <% } %>

        </section>

          <a href="/post" action="/post"><h3>Add an Article or show your work.</h3></a>

</section>


  <%- include('footer'); -%>
