<%- include('header'); -%>
<section class="weirdo">

    <h2>Technology</h2>

  <section class="struct">
    <p>Have you ever wondered how webpages like the one you're on right now are created? Well this project will give you a glimpse of how to build your own website!</p>
    <p>First press "option, command, I" on your computer.</p>
    <p>Now you can see what I use to build this page. So what were gonna do is use this code to build out your own web page. The first thing to do is decide on the topic for your site. One we have that we'll build the HTMl wich is the base for most <a>Static</a>websites.</p>
    <p>Below is a code pen tat you can use to to build out an exaple. Use my code for ideas and mess around!</p>
  </section>
  <section>

    <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result" data-user="JessieKat" data-slug-hash="OJymNYW" data-editable="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="OJymNYW">
      <span>See the Pen <a href="https://codepen.io/JessieKat/pen/OJymNYW">
        OJymNYW</a> by Jessie Mills (<a href="https://codepen.io/JessieKat">@JessieKat</a>)
        on <a href="https://codepen.io">CodePen</a>.</span>
      </p>
      <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
    </section>

</section>

  <script src="side.js"></script>
</body>
</html>
