<%- include('header'); -%>

    <header class="major special">
      <h2>Technology</h2>
    </header>
    <section class="struct">
      <p>Have you ever wondered how webpages like the one you're on right now are created? Well this project will give you a glimpse of how to build your own website!</p>
      <p>First press "option, command, I" on your computer.</p>
      <p>Now you can see what I use to build this page. So what were gonna do is use this code to build out your own web page. The first thing to do is decide on the topic for your site. One we have that we'll build the HTMl wich is the base for most <a>Static</a>websites.</p>
      <!-- here is where I plan to give some instructions they will be like "wow so cool" -->
      <code></code>
    </section>
    
    <script src="side.js"></script>
  </body>
</html>
