<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/three.css">
  </head>
  <body>
<script src="three.js"></script>
  </body>
</html>
