@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
*, *:before, *:after {
	margin: 0px;
	padding: 0px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

}

/* html{
	height: 100vh;
} */
body{
	background-color: rgb(94, 17, 255, .09);
	margin: 0;
	height: 100vh;
}

header{
	background-color: #5538c7;
	width: 100%;
	height: 10vh;
}

ul li{
	list-style: none;
}
header a{
	float: left;
}

button{
	width: 7rem;
	font-size: 25px;
	background-color: #5E51D1;
	color: white;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: bold;
	border-radius: 3px;
}
 input{
	 background-color: rgb(94, 17, 255, .09);
	 font-family: 'Noto Sans JP', sans-serif;
	 border: 1px solid #5538c7;
	 border-radius: 3px;
 }
 section, div{
 	margin: 0rem 5rem;
 }

.logo a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	margin: 0rem 5rem;
}
.logo a img{
	padding-top: 15px;
	height: 80px;
}

.loginSignupLinks{
  float: right;
  width: 50%;
}

.loginSignupLinks a{
  text-decoration: none;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 25px;
  font-weight: bold;
  float: right;
  padding-left: 20px;
}

.loginSignupLinks a:hover{
  color: #808080;
}
.goA{
	font-weight: bold;
	font-size: 1.3em;
}

.hero{
	height: 80vh;
}
.homePageGreeting{
	clear: both;
	text-align: left;
	margin: 4rem 0rem 0rem 4rem;
}

.homePageGreeting h1{
	color: rgb(94, 17, 255);
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 55px;
	font-weight: bold;
	text-align: left;
}

.homePageGreeting h4{
	color: black;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin-top: 1rem;
}

.homePageGreeting p{
	color: black;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.homePageSignUpToday{
	margin-left: 4rem;
}

.homePageSignUpToday h2{
	color: black;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 40px;
	font-weight: bold;
}

.homePageSignUpToday h3{
	color: black;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin-top: 3rem;
}
.logForm{
	margin-left: 35%;
	font-family: 'Noto Sans JP', sans-serif;
}
.logForm h1{
	font-weight: bold;
	padding-top: 20px;
}
.logForm button{
	margin-top: 20px;
}
#footS{
	margin-top: 11%;
}
.userI{
	padding-left: 50px;
	padding-bottom: 50px;
	width: 50%;
	margin-bottom: -116px;
}
footer{
	background-color: #5538c7;
	width: 100%;
	height: 100px;
	text-align: center;
	color: white;
	font-family: 'Noto Sans JP', sans-serif;
	clear: both;
}
.downF{
	margin-top: 25%;
}
.downFpro{
margin-top: 34%;
}
.loginFormPage{
	display: flex;
	justify-content: center;
	font-family: 'Noto Sans JP', sans-serif;
}
#logT{
	margin-left: 35%;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: bold;
}
.loginForm{
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
	font-size: 20px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: bold;
}

.loginForm input{
	font-size: 30px;
	width: 30rem;
}

.loginForm button{
	width: 7rem;
	font-size: 25px;
	background-color: #5E51D1;
	color: white;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: bold;
	border-radius: 3px;
	margin-top: 20px;
}

.secCom{
	font-family: 'Noto Sans JP', sans-serif;
}
.formP{
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: 'Noto Sans JP', sans-serif;
	float: left;
	margin-left: 15%;
}
.formP p{
	margin-left: 45%;
	font-size: 2em;
	font-weight: bold;
	padding-bottom: 20px;
}

.titleP{
	float: right;
	margin-right: 35%;
	border: 1px solid #5538c7;
	border-radius: 3px;
}

.heroP{
	border-radius: 5px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 33%;
	border: 2px solid #5538c7;
}
.filePic{
	float: right;
	margin-right: 25%;
	border: 1px solid #5538c7;
	border-radius: 3px;
}
.upPo{
    border: 1px solid #5538c7;
    border-radius: 3px;
    margin-left: 58%;

}
.articleI{
	margin-top: 100px;
	border-radius: 5px;
    margin-left: 33%;
    border: 2px solid #5538c7;
    list-style: none;
    width: 625px;
		font-family: 'Noto Sans JP', sans-serif;
}

.articleI h1{
	padding-left: 190px;
}
.articleI img{
	padding-left: 190px;
	height: 200px;
}


.articleI span{
	padding-top: 50px;
	margin-left: 45%;
	font-size: 1.5em;
}


.struct{
	font-size: 1.5em;
}

 #indNav{
	float: left;
	list-style: none;
}
#indNav ul li{
	float: left;
	list-style: none;
}
.indFoot{
	margin-top: 25%;
}

.weirdo{
	clear: both;
	padding-top: 100px;
}
.profile{
	padding-top: 100px;
	align-items: center;
	font-family: 'Noto Sans JP', sans-serif;
}
.profile strong{
	font-size: 1.5em;
	padding-bottom: 10px;
}
.profile h1, .profile span{
	margin-left: 45%;
}
.profile a h3{
	float: right;
}
.artM{
	font-family: 'Noto Sans JP', sans-serif;
}
.artM header{
	display: inline;
}
.artM h2{
	margin-left: 45%;
}
 .artM p{
font-size: 1.2em;
	margin-left: 30%;
}
.artM a{
	margin-top: 100px;
	margin-left: 43%;
	color: #5538c7;
	font-size: 1.5em;
}
.engT{
	font-family: 'Noto Sans JP', sans-serif;
	line-height: 2em;
	}
	.engT h1{
	 	 padding-top: 20px;
	 	 padding-bottom: 20px;
	 	 color: #5E51D1;
		font-size: 2em;
		font-weight: bold;
		margin: 0rem 5rem;
	}
	.engT p{
		padding: 20px;
	}
	.engT img{
		border-radius: 3px;
		height: 500px;	margin: 0rem 5rem;
	}
	.engT li input{
			margin: 0rem 5rem;
	}
.bigIn{
	font-family: 'Noto Sans JP', sans-serif;
}
#inputText{
	background-color: rgb(94, 17, 255, .09);
	font-family: 'Noto Sans JP', sans-serif;
	border: 1px solid #5538c7;
	border-radius: 3px;
	width: 20%;
}
#indButton{
	width: 7rem;
	font-size: 25px;
	background-color: #5E51D1;
	color: white;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: bold;
	border-radius: 3px;
}
#inputTextS{
	background-color: rgb(94, 17, 255, .09);
	font-family: 'Noto Sans JP', sans-serif;
	border: 1px solid #5538c7;
	border-radius: 3px;
	width: 20%;
}
#indButtonS{
	width: 7rem;
	font-size: 25px;
	background-color: #5E51D1;
	color: white;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: bold;
	border-radius: 3px;
}

.noArt{
	display: none;
}
.hide{
display: none;
}
